#welcome-main-content {
  margin: 32px 64px 0;
}

#welcome-main-content hgroup h2 {
  font-family: 'PT Sans Narrow';
  font-size: 250%;

  margin-bottom: 8px;
}

#welcome-main-content hgroup h3 {
  color: var(--american-river);
  font-size: 150%;
}

#welcome-main-content hgroup {
  text-align: left;

  margin-bottom: 64px;
}

#time-content {
  display: flex;
  flex: 1;

  text-align: center;
}

#welcome-main-content #time-content span {
  padding-top: 64px;

  width: 100%;

  font-size: 250%;
  line-height: 1.5;
  font-weight: bold;
}