#google-login-panel {
  justify-content: center;
  align-items: center;

  padding: 0 64px;

  background-color: var(--clouds);
}

#google-login-panel hgroup {
  text-align: center;
}

#google-login-panel hgroup h1 {
  font-family: 'PT Sans Narrow';
  font-size: 300%;

  margin-bottom: 16px;
}

#google-login-panel hgroup h2 {
  color: var(--american-river);
}

#google-login-panel button {
  margin-top: 64px;

  border: none;

  background-color: white;
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07) /* https://shadows.brumm.af */;
  padding: 16px;
  border-radius: 64px;

  align-items: center;
  display: flex;

  max-width: 384px;

  cursor: pointer;
}

#google-login-panel button img {
  width:  64px;
  height: 64px; 

  margin-right: 32px;
}

#google-login-panel button span {
  font-size: 200%;

  text-align: left;
}