header {
  background-color: var(--peter-river);
  color: white;

  justify-content: center;
  flex-direction: column;
  display: flex;
}

header #heading-header {
  margin: 16px 32px;

  justify-content: space-between;
  align-items: center;
  display: flex;
}

header #heading-header h1 {
  font-family: 'PT Sans Narrow';
  font-size: 300%;
}

header #heading-header #user {
  align-items: center;
  display: flex;
}

header #heading-header #user span {
  font-size: 150%;
  font-weight: bold;

  margin-right: 16px;
}

header #heading-header #user img {
  border-radius: 50%;

  width:  48px;
  height: 48px;
}

header nav ul {
  padding-left: 0;
  list-style-type: none;

  display: flex;
}

header nav ul li {
  background-color: var(--electron-blue);
  flex: 1;
}

header nav ul li:hover {
  background-color: var(--green-darner-tail);
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
}

header nav ul li a {
  justify-content: center;
  align-items: center;
  display: flex;

  font-size: 125%;

  font-weight: bold;

  transition: all .5s;
}

header nav,
header nav ul li,
header nav ul li a {
  height: 48px;
}